# Dependencias
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build de producción
dist/
build/

# Configuración del editor/IDE
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Archivos de sistema
.DS_Store
Thumbs.db

# Variables de entorno
.env
.env.local
.env.*.local

# Logs
*.log

# Coverage (tests)
coverage/